body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  background: var(--sapBackgroundColor);
  font-family: var(--sapFontFamily);
}


.applicationWrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  overflow: hidden;
}

.bodyWrapper {
  display: flex;
  flex: 1;
  min-height: 0;
  position: relative
}

.contentWrapper {
  flex: 1;
  min-height: 0;
  position: relative
}